
MeliGalax/.vs/

MeliGalax/MeliGalax.Service/bin/

MeliGalax/MeliGalax.Service/obj/

MeliGalax/MeliGalax.Service.Data/bin/

MeliGalax/MeliGalax.Service.Data/obj/

MeliGalax/MeliGalax.Service.Domain/obj/

MeliGalax/MeliGalax.Service.Models/obj/

MeliGalax/MeliGalax.Service.Models/bin/

MeliGalax/MeliGalax.Service.Domain/bin/

MeliGalax/MeliGalax.DB/bin/

MeliGalax/MeliGalax.DB/obj/

*.user

MeliGalax/MeliGalax.Service.API/bin/

MeliGalax/MeliGalax.Service.API/obj/

*.dbmdl

*.jfm
